<!DOCTYPE html>
<html ng-app="youtubeSearchApp" lang="en-us">
    <head>
        <title>Youtube Search App</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <link rel="stylesheet" href="/style/style.css">
        <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">

        <!-- load angular via CDN -->
        <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.5.8/angular-route.min.js"></script>
        <script src="https://code.angularjs.org/1.5.8/angular-resource.min.js"></script>
        <script src="https://cdn.jsdelivr.net/lodash/4.15.0/lodash.min.js"></script>
        <script src="js/angular-youtube-api-factory.min.js"></script>
        <script src="app.js"></script>
        <script src="routes.js"></script>
        <script src="services.js"></script>
        <script src="controllers.js"></script>
        <script src="directives.js"></script>
    </head>
    <body>
        <div class="container" ng-controller="youtubeController">
            <form ng-submit="submit()" class="search-bar">
                <div class="row no-gutter">
                    <div class="col-xs-6">
                        <input type="text" ng-model-options="{debounce: 500}" ng-model="term" value={{term}} class="form-control"/>
                    </div><!--col-xs-6-->

                    <div class="col-xs-2">
                        <input type="submit" class="btn btn-primary" value="Search"/>

                    </div><!--col-xs-2-->
                </div><!--row no-gutter-->

            </form>

            <div class="video-detail col-md-8">

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" ng-src={{frameUrl}}></iframe>
                </div><!--embed-responsive embed-responsive-16by9-->

                <div class="details">
                    <div>{{ selectedVideo.snippet.title }}</div>
                    <div>{{ selectedVideo.snippet.description }}</div>
                </div><!--details-->
            </div><!--video-detail col-md-8-->

            <ul class="col-md-4 list-group">
                <div ng-repeat="video in youtubeSearchResult.data.items">

                    <video-list video-item="video" select-video-function="selectVideo(video,frameUrl)"></video-list>

                </div>
            </ul>
        </div>

    </body>
</html>
