.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 100%;
    margin-left: 0;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}

.row.no-gutter {
  margin-left: -5px;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
